<h1>Sign in</h1>
<form action="/sessions" method="POST">
  <p class='error-message'><%= @message %></p>
  <ul class='list-no-bullets'>
    <li><input type="text" name="username" placeholder="Username"/></li>
    <li><input type="password" name="password" placeholder="Password"/></li>
    <li><input type="submit" value="Sign in"/></li>
  </ul>
</form>
