<div id="posts-container">
<h2>Your posts</h2>
<ul>
  <% @posts.each do |post| %>
    <li><a href="/posts/<%= post.id %>"><%= post.title %></a></li>
  <% end %>
</ul>
<ul class='list-no-bullets'>
  <li><a href='/posts/new'>Create new post</a></li>
  <li><a id="edit-polaroids" href='/'>Edit polaroid canvas</a></li>
  <li><a id="view-polaroids" href='/'>View polaroid canvas</a></li>
</ul>
</div>
