<div id="posts-container">
<p>Welcome <%= @user.username %></p>
<h1>Your posts</h1>
<ul>
  <% @posts.each do |post| %>
    <li><a href="/posts/<%= post.id %>"><%= post.title %></a></li>
  <% end %>
</ul>
<a href='/posts/new'>Create new post</a>
<a id="link-polaroids" href='/'>View as polariods</a>
</div>
