<p>Welcome <%= @user.username %></p>
<h1>Your posts</h1>
<ul>
  <% @posts.each do |post| %>
    <li><a href="/posts/<%= post.id %>"><%= post.title %></a></li>
  <% end %>
</ul>
  <canvas id="canvid1"></canvas>

  <img id="img4" src="img/4.jpg" />
  <img id="img1" src="img/7.jpg" />
  <img id="img2" src="img/8.jpg" />
  <img id="img3" src="img/9.jpg" />
  <img id="img4" src="img/5.jpg" />
  <img id="bg" src="img/bg.jpg" />
<a href='/posts/new'>Create new post</a>
<a href='/posts_polariod'>View as polariods</a>
